html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

.content {
  background-color: orange;
}

.portfolio-pics img {
  position: relative;
}

.portfolio-pics h3 {
  position: absolute;
  width: 100%;
  text-align: center;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .img-thumbnail {
    margin: auto;
    max-width: 40%;
    height: auto;
  }

  .card {
    width: 40%;
  }
}
