html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(./Images/Campsite.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  background-color: #ffffff80;
  border-radius: 10px;
}

/* Banners */

.banners {
  width: 100%;
  text-align: center;
}

/* Sticky Footer */

.container {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  width: 100%;
  color: whitesmoke;
}
