html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(./Images/Campsite.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  background-color: #ffffff80;
  border-radius: 10px;
}

/* Banners */

.portfolio-pics img {
  position: relative;
}

.portfolio-pics h3 {
  position: absolute;
  width: 100%;
  text-align: center;
}

/* Sticky Footer */

.container {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  width: 100%;
  color: whitesmoke;
}

/* Help with picture sizing */

@media screen and (min-width: 768px) {
  .img-thumbnail {
    margin: auto;
    max-width: 40%;
    height: auto;
  }

  .card {
    width: 40%;
  }
}
